services:

    tubedash-app:
       build: .
       image: ${IMAGE_NAME}:${BRANCH}
       restart: always
       depends_on:
         -  redis-cache
         -  postgres-db
       environment:
         -  REDIS_HOST=${REDIS_HOST}
         -  DATABASE_URL=${DATABASE_URL}
       deploy:
            replicas: 2

    nginx-lb:
       image: nginx:latest
       restart: always
       ports:
         - "${APP_PORT}:80"
       volumes:
         - ./nginx.conf:/etc/nginx/nginx.conf:ro
       depends_on:
         - tubedash-app

    redis-cache:
       image: "redis:alpine"
       restart:  always
       volumes:
         - ./redis_data:/data

    postgres-db:
        image: postgres:13 
        restart: always
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
            POSTGRES_DB: tubedash
        volumes:
         - ./postgres_data:/var/lib/postgresql/data
        ports:
         - "${DB_PORT}:5432"
