services:

    tubedash-app:
       build: .
       image: ${IMAGE_NAME}:${BRANCH}
       restart: unless-stopped
       depends_on:
         -  redis-cache
         -  postgres-db
       environment:
         -  REDIS_HOST=${REDIS_HOST}
         -  DATABASE_URL=${DATABASE_URL}
       deploy:
            replicas: 4
       networks:
         - tubedash
         - moni

    nginx-lb:
       image: nginx:latest
       restart: unless-stopped
       ports:
         - "${APP_PORT}:80"
       volumes:
         - ./nginx.conf:/etc/nginx/nginx.conf:ro
       depends_on:
         - tubedash-app
       networks:
         - tubedash

    redis-cache:
       image: "redis:alpine"
       restart:  unless-stopped
       volumes:
         - ./redis_data:/data
       networks:
         - tubedash

    postgres-db:
        image: postgres:13 
        restart: unless-stopped
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
            POSTGRES_DB: tubedash
        volumes:
         - ./postgres_data:/var/lib/postgresql/data
        ports:
         - "${DB_PORT}:5432"
        networks:
         - tubedash

    portainer:
      image: portainer/portainer-ce:latest
      container_name: portainer
      restart: unless-stopped
      security_opt:
        - no-new-privileges:true
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - portainer_data:/data
      ports:
         - "9443:9443"

volumes:
  portainer_data:

networks:
  tubedash:
  moni:
    name: moni_default
    external: true
